

.cloud{
	display: flex;
    border: 10px solid #7ED0FB;
    border-radius: 15px;
    margin: 10px 15px 10px 15px;
    background-color: white;
	justify-content: center;
}

@media only screen and (max-width:800px) {

	.cloud{
		width: 40% ;
	}
}
@media only screen and (max-width:650px) {

	.cloud{
		width: 70% ;
		margin: 10px auto;
	}
}